[MASTER]
extension-pkg-allow-list=win32api,win32con,win32gui,win32ui,win32process,wx_ocr,PIL,pywinauto.windows.uia_defines,pywintypes,win32clipboard
init-hook='import sys; sys.path.insert(0, "."); sys.path.insert(0, "scripts")'
ignore=test_winguictl.py,test_*.py

[MESSAGES CONTROL]
disable=
    C0301,
    C0415,
    W0201,
    W0603,
    I1101,
    R0902,
    R0903,
    R0904,
    R0912,
    R0913,
    R0914,
    R0915,
    R0917,
    R1702

[BASIC]
variable-rgx=[a-z_][a-z0-9_]{0,30}$
const-rgx=(([A-Z_][A-Z0-9_]*)|(_[a-z0-9_]*))$

[FORMAT]
max-line-length=120

[DESIGN]
max-locals=25
max-branches=35
max-statements=80
max-public-methods=35

[SIMILARITIES]
min-similarity-lines=4
